@model MIS4200_CentricProject_Team12.Models.recognitionDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>recognitionDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recognition.recognizedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recognition.recognizedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.explanation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.explanation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognizedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognizedby)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.recognitionDetailsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
