@model IEnumerable<MIS4200_CentricProject_Team12.Models.recognitionDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recognition.recognizedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.explanation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognizedby)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recognition.recognizedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.explanation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognizedby)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.recognitionDetailsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.recognitionDetailsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.recognitionDetailsId })
        </td>
    </tr>
}

</table>
